.law-title {
    margin-bottom: 0px;
    position: sticky;
    top: 0;
    padding-top: 10px; 
    padding-left: 10px;
    background-color: #fff;
    z-index: 999;
}
.law-num{
    padding-left: 10px;
}
.law-content{
    padding: 10px; 
}
.xml-EnactStatement{
    display: block;
}
.xml-PartTitle, .xml-ChapterTitle, .xml-SectionTitle, .xml-SubsectionTitle, .xml-DivisionTitle, .xml-SupplProvisionLabel {
    display: block;
    font-weight: bold;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.xml-Paragraph{
    display: block;
    margin-left: 1em;
    text-indent: -1em;
    margin-bottom: 0.25em;
}
.xml-Item{
    display:block;
    margin-left: 1em;
    text-indent: -1em;
}
[class^="xml-Subitem"]:not([class*="Title"]):not([class*="Sentence"]){
    display:block;
    margin-left: 1em;
    text-indent: -1em;
}
.xml-ArticleCaption, .xml-ArticleTitle, .xml-ParagraphNum, .xml-ItemTitle{
    font-weight: bold;
}
[class^="xml-Subitem"][class*="Title"]{
    font-weight: bold;
}
.xml-ListSentence{
    display: block;
}

.xml-Sentence .popup-text {
    visibility: hidden;
    text-indent: 0;
    background-color: #eee;
    border: 1px solid #333;
    color: #006;
    border-radius: 5px;
    padding: 5px 0;
    position: absolute;
    z-index: 999;
    margin-top: 5px; /* Small margin to avoid overlap */
    opacity: 0;
    transition: opacity 0.3s;
}
.hovered {
    position: relative;
    cursor: pointer;
    text-decoration: underline;
}
#ref-article-num {
    font-weight: bold;
}
#ref-article-content {
    background-color: #ddd;
}
item{
    display: block;
    margin-left: 1em;
    text-indent: -1em;
}
itemtitle{
    font-weight: bold;
}