.law-title {
    margin-bottom: 0px;
    position: sticky;
    top: 0;
    padding-top: 10px; 
    padding-left: 10px;
    background-color: #fff;
}
.law-num{
    padding-left: 10px;
}
.law-content{
    padding: 10px; 
}
.xml-ChapterTitle, .xml-SectionTitle{
    font-weight: bold;
}
.xml-Article{
    display: block;
    margin-left: 1em;
}
.xml-ArticleCaption, .xml-ArticleTitle, .xml-ParagraphNum, .xml-ItemTitle{
    font-weight: bold;
}