#sidebarMenu {
    height: calc(100% - 60px);
    position: fixed;
    overflow-y: auto;
    left: 0;
    width: 25%;
    transform: translateX(-100%);
    transition: transform .3s ease-in-out;
    background: #eee;
}
.menu-toggle {
    position: fixed;
    top: 10px;
    left: 10px;
    cursor: pointer;
    font-size: 24px;
    color: #ccc;
}
.toggle-btn {
    cursor: pointer;
    /* display: flex; */
    align-items: center;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.sideber-content {
    display: block;
    margin-left: 20px;
}
.hidden {
    display: none;
}
/* アニメーション用のラッパー */
.content-wrapper {
    overflow: hidden;
    transition: height 0.3s ease-in-out; /* 高さをアニメーション */
    height: 0;  /* 初期状態は閉じた状態 */
}

/* 開いたとき */
.content-wrapper.open {
    height: auto; /* JSで適切な高さを設定 */
}
#searchResults { 
    padding: 10px; 
}
.searchHeader{
    position: sticky;
    top: 0;
    background-color: #eee;
    padding: 0px;
    z-index: 999;
}
.form-control {
    margin: 5px;
    width: 95%;
}
/* テーブルのスタイル */
#lawTable {
    width: 100%;
    border-collapse: collapse;
}
#lawTable thead th {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
    background-color: #ccf;
}
#lawTable td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
    user-select: none;
}
/* マウスオーバー時のハイライト */
#lawTable tbody tr:hover {
    background-color: #eef;
}
.sort-buttons button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 2px 5px;
    font-size: 12px;
    background-color: #fff;
}
.sort-buttons button.active {
    color: white;
    background-color: #007bff;
}
fieldset{
    border:1px solid #000;
    padding-left:3px;
}
legend{
    font-size:1em;
    margin-left: 12px;
    margin-top: 3px;
    padding:3px 2px;
    width:initial;
    margin-bottom: 0;
}